{% extends './base.html' %}
{% load static %}

{% block body %}
<!-- Page-header start -->
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Profile</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Clients</li>
              <li class="breadcrumb-item active">Profile</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
        <section class="section profile">
          <div class="row">
            <div class="col-xl-4">
    
              <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
    
                  <img src="{% static 'profile.png' %}" alt="Profile" class="rounded-circle">
                  <h2>{{client.first_name}} {{client.surname}}</h2>
                  <h3>{{client.employment_details.profession}}</h3>
                  <div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
    
            </div>
    
            <div class="col-xl-8">
    
              <div class="card">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  <ul class="nav nav-tabs nav-tabs-bordered">
    
                    <li class="nav-item">
                      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Bank Information</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Employment Information</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                    </li>
    
                  </ul>
                  <div class="tab-content pt-2">
    
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                      <h5 class="card-title">About {{client.first_name}}.</h5>
                      <p class="small fst-italic"></p>
    
                      <h5 class="card-title">Profile Details</h5>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4">Full Name</div>
                        <div class="col-lg-9 col-md-8">{{client.first_name}} {{client.surname}}</div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4">Gender</div>
                        <div class="col-lg-9 col-md-8">{{client.gender}}</div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4">Marital Status</div>
                        <div class="col-lg-9 col-md-8">{{client.marital_status}}</div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4">Date Of Birth</div>
                        <div class="col-lg-9 col-md-8">{{client.dob}}</div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4">National ID</div>
                        <div class="col-lg-9 col-md-8">{{client.national_id_no}}</div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4">Email Address</div>
                        <div class="col-lg-9 col-md-8">{{client.email}}</div>
                      </div>
    
                      <div class="row">
                        <div class="col-lg-3 col-md-4">Phone Number</div>
                        <div class="col-lg-9 col-md-8">{{client.mobile_number}}</div>
                      </div>
    
                    </div>
    
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
    
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">Banking Information</h5>
                            <p class="small fst-italic"></p>
          
                            <h5 class="card-title">Bank Details</h5>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4">Bank Name</div>
                              <div class="col-lg-9 col-md-8">{{client.bank_details.bank_name}}</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4">Branch Name</div>
                              <div class="col-lg-9 col-md-8">{{client.bank_details.branch_name}}</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4">Account Number</div>
                              <div class="col-lg-9 col-md-8">{{client.bank_details.account_no}}</div>
                            </div>
                        </div>
                    </div>
    
                    <div class="tab-pane fade pt-3" id="profile-settings">
                        
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">Employment Information</h5>
                            <p class="small fst-italic"></p>
          
                            <h5 class="card-title">Employment Details</h5>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4">Employer Name</div>
                              <div class="col-lg-9 col-md-8">{{client.employment_details.employer_name}}</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4">EC Number</div>
                              <div class="col-lg-9 col-md-8">{{client.employment_details.employee_number}}</div>
                            </div>
          
                            <div class="row">
                              <div class="col-lg-3 col-md-4">Profession</div>
                              <div class="col-lg-9 col-md-8">{{client.employment_details.profession}}</div>
                            </div>
                        </div>
                      
                    </div>
    
                    <div class="tab-pane fade pt-3" id="profile-change-password">
                      <!-- Change Password Form -->
                      <form>
    
                        <div class="row mb-3">
                          <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="password" type="password" class="form-control" id="currentPassword">
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                          </div>
                        </div>
    
                        <div class="row mb-3">
                          <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                          </div>
                        </div>
    
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                      </form><!-- End Change Password Form -->
    
                    </div>
    
                  </div><!-- End Bordered Tabs -->
    
                </div>
              </div>
    
            </div>
          </div>
        </section>
    
      </main><!-- End #main -->
</div>
{% comment %} End body {% endcomment %}
{% endblock body %}